@import "tailwindcss";

@theme {
  --color-theme-dark-blue: #16254b;
  --color-theme-light-blue: #dff5ff;
  --color-theme-blue: #058ccd;
  --color-theme-bluehighlighted: #007fcc;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #dff5ff;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #16254b;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
  }
